{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class='container-fluid'>
        <h1>
            This is the initial project to help construction projects be climate neutral by 2050. we aim to approximate the
            carbon emissions of a particular construction project  so that the project managers can then offset the carbon
            emissions by planting more trees.
        </h1>
        <p>Continue <a href=" {% url 'coTwo:project_create' %}">here </a> to start calculating your emissions</p>
        <p>Continue <a href=" {% url 'coTwo:project_list' %}">here </a> to view current project emissions</p>
     </div>
{% endblock %}