{% extends 'coTwo/base.html' %}
{% load bootstrap5 %}

{% block title %} Production phase {% endblock %}
{% block content %}
    <div class="phase"><h1>Materials Production Phase</h1></div>
    <div class="description">
        <p>Add the material type and the amount of it used in your project</p>
    </div>
    <form method = 'POST'>
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    <h5>Materials added so far:</h5>
    <table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Material Name</th>
            <th scope="col">Material Quantity</th>
        </tr>
    </thead>
    <tbody >
        {% for added_material in added_materials %}
            <tr>
                <td>{{ added_material }}</td>
                <td>{{ added_material.initial_material_quantity }} {{ added_material.material_quantity_unit }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% csrf_token %}
    {{ form.non_form_errors }}
    {{ form.as_p }}
    <p class = 'pt-2'>
        <button type="submit" class="btn btn-primary"> Add data </button>
        <a href="{% url 'coTwo:index' %}" role="button" class="btn btn-danger"> Cancel</a>
{#        <p><strong>{{ key }}</strong></p>#}
        <h4>Move onto <a href="{% url 'coTwo:transport_type_create' pk=key %}" role="button" class="btn btn-success"> Next</a> phase</h4>
    </p>
    </form>
{% endblock %}